body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: whitesmoke;
}

/* body::-webkit-scrollbar-track {
  background: #4e73df;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: white;
  margin: 1rem;
  text-decoration: none;
}

a:hover {
  color: white;
}

table {
  border-radius: 0.5rem;
  margin: 50px 0 0 50px;
  height: fit-content;
  width: 90% !important;
}

th,
td,
tr {
  text-align: center;
  padding: 1rem;
  letter-spacing: 0.01071em;
}
tr {
  display: table-row;
  outline: 0;
  vertical-align: middle;
}

thead {
  background: #203040;
  color: white;
}

form {
  width: 60%;
  margin: 6rem;
}

#btn {
  border-style: none;
  margin-right: 10px;
  background: none;
}

.image {
  align-items: center;
  text-align: center;
}
img {
  width: 40%;
  height: 20rem;
}

.profiledata {
  margin: 2rem;
  text-align: center;
}
